[submodule "Security-Price-Prediction--R"]
	path = Security-Price-Prediction--R
	url = https://github.com/github-deepak-saini/Security-Price-Prediction--R
[submodule "Supply-Chain-Optimization--R"]
	path = Supply-Chain-Optimization--R
	url = https://github.com/github-deepak-saini/Supply-Chain-Optimization--R
[submodule "Titanic-Survivor-Prediction--Python"]
	path = Titanic-Survivor-Prediction--Python
	url = https://github.com/github-deepak-saini/Titanic-Survivor-Prediction--Python
[submodule "Telecom-Customer-Churn-Decision-Tree--Python"]
	path = Telecom-Customer-Churn-Decision-Tree--Python
	url = https://github.com/github-deepak-saini/Telecom-Customer-Churn-Decision-Tree--Python
[submodule "Study-Factors-Affecting-Fertility-Rates--R"]
	path = Study-Factors-Affecting-Fertility-Rates--R
	url = https://github.com/github-deepak-saini/Study-Factors-Affecting-Fertility-Rates--R
[submodule "Classification-by-Support-Vector-Machine--Python"]
	path = Classification-by-Support-Vector-Machine--Python
	url = https://github.com/github-deepak-saini/Classification-by-Support-Vector-Machine--Python
[submodule "Principal-Component-Analysis--Python"]
	path = Principal-Component-Analysis--Python
	url = https://github.com/github-deepak-saini/Principal-Component-Analysis--Python
[submodule "Linear-Regression-and-Prediction--Python"]
	path = Linear-Regression-and-Prediction--Python
	url = https://github.com/github-deepak-saini/Linear-Regression-and-Prediction--Python
