[submodule "Security-Price-Prediction--R"]
	path = Security-Price-Prediction--R
	url = https://github.com/github-deepak-saini/Security-Price-Prediction--R
[submodule "Supply-Chain-Optimization--R"]
	path = Supply-Chain-Optimization--R
	url = https://github.com/github-deepak-saini/Supply-Chain-Optimization--R
[submodule "Factors-Affecting-Fertility-Rates--R"]
	path = Factors-Affecting-Fertility-Rates--R
	url = https://github.com/github-deepak-saini/Factors-Affecting-Fertility-Rates--R
[submodule "Titanic-Survivor-Prediction--Python"]
	path = Titanic-Survivor-Prediction--Python
	url = https://github.com/github-deepak-saini/Titanic-Survivor-Prediction--Python
